.hero {
  text-align: center;
  padding: 80px 20px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::before {
  /* Capa de oscurecimiento */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.hero-text {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.hero-text h2 {
  font-family: var(--font-title);
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--accent);
}

.hero-text p {
  font-size: 1.2rem;
  color: var(--light);
}
