.footer {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  margin-top: 40px;
  border-top: 2px solid var(--accent);
}

.footer-contenido p {
  margin: 5px 0;
  font-size: 14px;
}

.redes {
  margin: 10px 0;
}

.redes a img {
  width: 30px;
  margin: 0 10px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s, filter 0.3s;
}

.redes a img:hover {
  transform: scale(1.2);
  filter: brightness(1) invert(0);
}

.copy {
  margin-top: 15px;
  font-size: 12px;
  color: #aaa;
}
